<div class="container-content">
    <div class="format-text">
        <div class="text-container">
            <h1>Organize suas equipes</h1>
        </div>
    </div>

    <div class="input-area">
        <div class="player-list">
            <h4 class="t01">1. Adicione jogadores:</h4>
            <textarea name="input-list" id="main-textarea" cols="30" rows="11" placeholder="Adicione um jogador por linha"></textarea>
            <span class="cont-player">0</span>
        </div>
        <div class="selector">
            <h4 class="t02">2. Divida as equipes:</h4>
            <select name="sel-param" id="sel">
                <option value="2">2 Times</option>
                <option value="3">3 Times</option>
                <option value="4">4 Times</option>
                <option value="5">5 Times</option>
                <option value="6">6 Times</option>
                <option value="7">7 Times</option>
                <option value="8">8 Times</option>
                <option value="9">9 Times</option>
                <option value="10">10 Times</option>
                <option value="11">11 Times</option>
            </select>
        </div>
    </div>
</div>